.react-todo {
  font-size: 120%;
  font-weight: 100;
  line-height: 1.5;
  color: #666;
  margin: 0.25em;
}

.react-todo h2 {
  color: #03CC85;
  margin: 10px;
}

input[type="checkbox"] {
    width: 50px;
    margin: 5px;
}

.react-todo .complete-all {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px
}


.react-todo .button-secondary {
  background: #fff;
  color: #666;
  border: 1px solid #ddd;
}

.react-todo button {
  font-size: 100%;
  margin: 0.2em;
  font-weight: 200;
}

.react-todo .input-text {
  font-size: 100%;
  font-weight: 100;
  line-height: 1.5;
  color: #666;
  margin: 0.25em;
}