html, body {
    height: 100%;
}

body {
    background: #333;
    color: #fff;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 200;
}

.pulr-button {
    position: fixed;
    top: 100%;
    padding-top: 1px;
}

.pulr-button line {
    stroke: #fff;
    stroke-width: 5;
    fill: #fff;
}

#pulr {
    width: 100%;
    background: #fff;
    color: #555;
    z-index: 10;
    height: 50px;
    text-align: center;
    transition: height;
    -webkit-transition: height;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    box-sizing: border-box;
}

.pulr-content {
    height: 100%;
    overflow: hidden;
}
